<nav
  class="navbar nav-height d-flex sticky-top navbar-expand-lg bg-body-tertiary"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand align-self-start ms-2" href="#" title="Home">
      <img src="/assets/text-logo.svg" alt="app-logo" class="navbar-logo" />
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
      </ul>
    </div>

    <!-- profile dropdown -->
    <div class="flex-shrink-0 dropdown d-none">
      <a
        href="#"
        class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="#imageUrl"
          alt="mdo"
          width="32"
          height="32"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>

    <div class="btn-group" role="group" area-label="Basic">
      <button type="button" class="btn btn-bd-outline-secondary">
        Sign In
      </button>
      <button type="button" class="btn btn-bd-primary">Sign Up</button>
    </div>
  </div>
</nav>
