<div class="container-fluid bg-main">
  <div class="full-screen row justify-content-center d-flex align-items-center">
    <div class="blob-wrapper">
      <img
        src="../../../assets/img_blob_blur_violet.svg"
        class="img-blob img-fluid col-sm-4 col-md-4 col-lg-6 col-xl-6 col-xxl-7"
        alt="image desc"
      />
      <img
        src="../../../assets/img_blob_blur_blue.svg"
        class="img-blob img-fluid col-sm-4 col-md-4 col-lg-6 col-xl-6 col-xxl-7"
        alt="image desc"
      />
      <img
        src="../../../assets/img_blob_blur_yellow.svg"
        class="img-blob img-fluid col-sm-4 col-md-4 col-lg-6 col-xl-6 col-xxl-7"
        alt="image desc"
      />
    </div>

    <div
      class="d-none d-md-block col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6"
    >
      <div class="twriter-wrapper">
        <div id="tw" class="text-start fw-light"></div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card form-signin">
        <div class="card-body">
          <main>
            <form [formGroup]="loginForm" (ngSubmit)="login($event)">
              <div
                class="mb-4 justify-content-center align-items-center d-flex"
              >
                <img
                  src="/assets/auth-app-logo.svg"
                  alt="app-logo"
                  class="login-logo mb-3"
                />
              </div>
              <div
                id="error"
                class="text-center small text-danger text-opacity-75 mb-3"
              >
                {{ formError }}
              </div>
              <div class="form-floating">
                <input
                  type="email"
                  id="loginUsernameInput"
                  placeholder="user@example.com"
                  formControlName="loginEmail"
                  class="form-control border-bottom-0"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                  required
                  autofocus
                />
                <label for="loginUsernameInput">Email address</label>
              </div>
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control border-top-0"
                  id="loginPasswordInput"
                  formControlName="loginPassword"
                  placeholder="Password"
                  (focus)="onFocus()"
                  (blur)="onBlur()"
                  required
                />
                <label for="loginPasswordInput">Password</label>
              </div>
              <div class="form-check text-start my-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  value="remember-me"
                  id="checkRememberMe"
                  formControlName="loginRememberMe"
                />
                <label for="checkRememberMe" class="form-check-label"
                  >Remember me</label
                >
              </div>
              <button type="submit" class="btn btn-bd-primary w-100 py-2">
                Sign in
              </button>
              <p class="mt-5 mb-3 text-body-secondary">&copy; 2021-2024</p>
            </form>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
  <button
    class="btn btn-primary py-2 dropdown-toggle d-flex align-items-center"
    id="bd-theme"
    type="button"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    aria-label="Toggle theme (auto)"
  >
    <img
      src="/assets/icons/circle-half.svg"
      alt="icon-half-circle"
      class="bi my-1 theme-icon-active"
    />
    <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul
    class="dropdown-menu dropdown-menu-end shadow"
    aria-labelledby="bd-theme-text"
  >
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center"
        data-bs-theme-value="light"
        aria-pressed="false"
      >
        <img
          src="/assets/icons/sun-fill.svg"
          alt="icon-half"
          class="bi me-2 opacity-50 theme-icon"
        />
        Light
        <img
          src="/assets/icons/check2.svg"
          alt="icon-check"
          class="bi ms-auto d-none"
        />
      </button>
    </li>
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center"
        data-bs-theme-value="dark"
        aria-pressed="false"
      >
        <img
          src="/assets/icons/moon-stars-fill.svg"
          alt="icon-moon-stars"
          class="bi me-2 opacity-50 theme-icon"
        />
        Dark
        <img
          src="/assets/icons/check2.svg"
          alt="icon-check"
          class="bi ms-auto d-none"
        />
      </button>
    </li>
    <li>
      <button
        type="button"
        class="dropdown-item d-flex align-items-center active"
        data-bs-theme-value="auto"
        aria-pressed="true"
      >
        <img
          src="/assets/icons/circle-half.svg"
          alt="icon-half-circle"
          class="bi me-2 opacity-50 theme-icon"
        />
        Auto
        <img
          src="/assets/icons/check2.svg"
          alt="icon-check"
          class="bi ms-auto d-none"
        />
      </button>
    </li>
  </ul>
</div>
