@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr-bs5-alert";

.btn-bd-primary {
  --bd-pri-bg: #1e0a3c;
  --bd-sec-rgb: #332661;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-pri-bg);
  --bs-btn-border-color: var(--bd-pri-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: var(--bd-sec-rgb);
  --bs-btn-hover-border-color: var(--bd-sec-rgb);
  --bs-btn-focus-shadow-rgb: var(--bd-sec-rgb);
  --bs-btn-active-color: #0c6dfd;
  --bs-btn-active-bg: var(--bd-sec-rgb);
  --bs-btn-active-border-color: var(--bd-sec-rgb);
}

.btn-bd-outline-secondary {
  --bd-pri-bg: #1e0a3c;
  --bd-sec-rgb: #332661;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bd-pri-bg);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: var(--bd-pri-bg);
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-color: var(--bd-sec-rgb);
  --bs-btn-hover-border-color: var(--bd-sec-rgb);
  --bs-btn-focus-shadow-rgb: var(--bd-sec-rgb);
  --bs-btn-active-color: #0c6dfd;
  --bs-btn-active-bg: var(--bd-pri-bg);
  --bs-btn-active-border-color: var(--bd-pri-bg);
}

// toastr style overrides

@function str-split($string, $separator) {
  $split-arr: ();
  // first index of separator in string
  $index: str-index($string, $separator);
  // loop through string
  @while $index != null {
    // get the substring from the first character to the separator
    $item: str-slice($string, 1, $index - 1);
    // push item to array
    $split-arr: append($split-arr, $item);
    // remove item and separator from string
    $string: str-slice($string, $index + 1);
    // find new index of separator
    $index: str-index($string, $separator);
  }
  // add the remaining string to list (the last item)
  $split-arr: append($split-arr, $string);

  @return $split-arr;
}

@function svg-factory($fill-color, $viewbox, $path) {
  $split: str-split($viewbox, " ");
  $width: nth($split, 3);
  $height: nth($split, 4);

  // opacity is 0.9999 otherwise it uses a hex equivelent
  // firefox requires fill rgb
  @return "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='" + $viewbox +
    "' width='" + $width + "' height='" + $height + "'%3E%3Cpath fill='" +
    rgba($fill-color, 0.999999) + "' d='" + $path + "'/%3E%3C/svg%3E";
}
@function svg-encode($svg) {
  @return "data:image/svg+xml;charset=utf8," + $svg;
}

.toast-container {
  top: 4rem !important;
}

.toast-success {
  $bd-toast-success: rgb(67, 224, 88);

  background: rgba(255, 255, 255, 0.22);
  background-image: url(svg-encode(
    svg-factory(
      shift-color($bd-toast-success, 2 * $theme-color-interval),
      "0 0 512 512",
      "M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
    )
  ));
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
  }
  border: 1px solid rgba(255, 255, 255, 0.15);
  .toast-title {
    color: #43e058;
    font-family: "Poppins", sans-serif;
    font-size: small;
    padding-left: 1.2rem;
  }

  .toast-message {
    color: #a8e9b3;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    padding-left: 1.2rem;
  }

  .toast-close-button {
    color: #ffffff !important;
  }

  .toast-progress {
    background-color: #43e058 !important;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake-animation {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.form-error {
  border: 1px solid #ce1b1b !important;
  box-shadow: inset 0 0 20px #f96969 !important;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes popup {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.popup-animation {
  animation: popup 0.5s ease-out;
}

@keyframes popout {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.popout-animation {
  animation: popout 0.5s ease-in forwards;
}
